body{
   margin: 0;
   text-align: center ;
    font-family: 'Merriweather', serif;
    
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 562%; /* 16px=100%=1em */
    color: #66BFBF;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    
    
    color: #66BFBF;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p{
    line-height: 2;
}
.first{
    
    position: relative;
    padding-top: 100px;
    background-color: #EAF6F6;
    
}
.bottom-cloud{
    position: absolute;
}
.top-cloud{
    position: absolute;
    right: 400px;
    top: 50px;
}
.my-pic{
    height: 200px;
    width: 200px;
    margin-top: 40px;
}
.pc-pic{

    height: 200px;
    width: 200px;
    
    float:left;
    margin-right: 40px;
    
}
.third a{
    
    text-decoration: none;
    margin: 10px 20px 10px 20px;
}
.third a:hover{
    
    color: #cccccc;
    font-weight:bold ;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height:2 ;
}
.badminton-pic
{
    height: 200px;
    width: 150px;
    float: right;
}
.third{
    background-color: #66BFBF;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #11999E;

}
hr{
    border-style: dotted none none;
    width: 4%;
    border-color:grey;
    border-width: 4px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .btn {
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .contact-p{
    margin-bottom: 50px;
  }
  .second{
    margin-bottom: 50px;
  }
  .footer-text{
    color: #EAF6F6;
  }
  a{
    color: #11999E;
  }
  .footer-text{
    font-size: 0.75rem;
    padding-top: 20px;
  }
 